In [ ]:
import re

In [ ]:
text = '''
My name is Ashish Yadav, My phone number is 1714212212.
My future's slef salary will be around 5,00,00 INR/month as a Employee and around 1 million $ as CEO of my company.

Ashva (111)-333-5555
'''

In [ ]:
pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{10}'
matches = re.findall(pattern, text)

In [ ]:
matches

['1714212212', '(111)-333-5555']

In [ ]:
text = ' my name is ashish yadav and my emailid is abc123@gmail.com'
pattern = '[a-zA-Z0-9]*@[a-z]*\.[a-z]*'
matches = re.findall(pattern, text)
matches

['abc123@gmail.com']

## Extracting financial periods from a company's financial reporting

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
In previous quarter i.e. fy2020 Q4 it was $3 billion.
'''

In [ ]:
pattern = 'FY\d{4} Q[1-4]'
matches = re.findall(pattern, text, flags=re.IGNORECASE)

In [ ]:
matches

['FY2021 Q1', 'fy2020 Q4']

In [ ]:
pattern = '\$[\d\.]* [\w]+'
matches = re.findall(pattern ,text)

In [ ]:
matches

['$4.85 billion', '$3 billion']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
In previous quarter i.e. FY2020 Q4 it was $3 billion.
'''

pat = 'FY(\d{4} Q[1-4])[^\$]+\$([\d\.]+)'
mat = re.findall(pat, text)
mat

[('2021 Q1', '4.85'), ('2020 Q4', '3')]